@import url("https://fonts.google.com/specimen/Epilogue");

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
}
main{
  display: flex;
}
nav, a{
  color:hsl(0, 0%, 41%) ;
  text-decoration: none;
  font-weight: 600;
}
a:hover{
  color: black;
}
.navbar p{
  font-weight: 600;
}
.navbar{
  
}
.register{
  display: inline;
border: 1px hsl(0, 0%, 41%) solid ;
padding: 5px 8px;
}
h2{
font-weight: 500;
}
.para{
  color: hsl(0, 0%, 41%);
}
button{
  color: white;
  background: hsl(0, 0%, 8%);
  padding: 1rem 2rem;
  border-radius: 7px;
}